# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

Data/no/1 no.jpeg
Data/no/2 no.jpeg
Data/no/3 no.jpg
Data/no/4 no.jpg
Data/no/5 no.jpg
Data/no/6 no.jpg
Data/no/7 no.jpg
Data/no/8 no.jpg
Data/no/9 no.jpg
Data/no/10 no.jpg
Data/no/11 no.jpg
Data/no/12 no.jpg
Data/no/13 no.jpg
Data/no/14 no.jpg
Data/no/15 no.jpg
Data/no/17 no.jpg
Data/no/18 no.jpg
Data/no/19 no.jpg
Data/no/20 no.jpg
Data/no/21 no.jpg
Data/no/22 no.jpg
Data/no/23 no.jpg
Data/no/24 no.jpg
Data/no/25 no.jpg
Data/no/26 no.jpg
Data/no/27 no.jpg
Data/no/28 no.jpg
Data/no/29 no.jpg
Data/no/30 no.jpg
Data/no/31 no.jpg
Data/no/32 no.jpg
Data/no/33 no.jpg
Data/no/34 no.jpg
Data/no/35 no.jpg
Data/no/36 no.jpg
Data/no/37 no.jpg
Data/no/38 no.jpg
Data/no/39 no.jpg
Data/no/40 no.jpg
Data/no/41 no.jpg
Data/no/42 no.jpg
Data/no/43 no.jpg
Data/no/44no.jpg
Data/no/45 no.jpg
Data/no/46 no.jpg
Data/no/47 no.jpg
Data/no/48 no.jpeg
Data/no/49 no.jpg
Data/no/50 no.jpg
Data/no/N1.JPG
Data/no/N2.JPG
Data/no/N3.jpg
Data/no/N5.jpg
Data/no/N6.jpg
Data/no/N11.jpg
Data/no/N15.jpg
Data/no/N16.jpg
Data/no/N17.jpg
Data/no/N19.JPG
Data/no/N20.JPG
Data/no/N21.jpg
Data/no/N22.JPG
Data/no/N26.JPG
Data/no/no 1.jpg
Data/no/no 2.jpg
Data/no/no 3.jpg
Data/no/no 4.jpg
Data/no/no 5.jpeg
Data/no/no 6.jpg
Data/no/no 7.jpeg
Data/no/no 8.jpg
Data/no/no 9.png
Data/no/no 10.jpg
Data/no/no 89.jpg
Data/no/no 90.jpg
Data/no/no 91.jpeg
Data/no/no 92.jpg
Data/no/no 94.jpg
Data/no/no 95.jpg
Data/no/no 96.jpg
Data/no/no 97.jpg
Data/no/no 98.jpg
Data/no/no 99.jpg
Data/no/no 100.jpg
Data/no/no 923.jpg
Data/no/no.jpg
Data/no/No11.jpg
Data/no/No12.jpg
Data/no/No13.jpg
Data/no/No14.jpg
Data/no/No15.jpg
Data/no/No16.jpg
Data/no/No17.jpg
Data/no/No18.jpg
Data/no/No19.jpg
Data/no/No20.jpg
Data/no/No21.jpg
Data/no/No22.jpg
Data/yes/Y1.jpg
Data/yes/Y2.jpg
Data/yes/Y3.jpg
Data/yes/Y4.jpg
Data/yes/Y6.jpg
Data/yes/Y7.jpg
Data/yes/Y8.jpg
Data/yes/Y9.jpg
Data/yes/Y10.jpg
Data/yes/Y11.jpg
Data/yes/Y12.jpg
Data/yes/Y13.jpg
Data/yes/Y14.jpg
Data/yes/Y15.jpg
Data/yes/Y16.JPG
Data/yes/Y17.jpg
Data/yes/Y18.JPG
Data/yes/Y19.JPG
Data/yes/Y20.jpg
Data/yes/Y21.jpg
Data/yes/Y22.jpg
Data/yes/Y23.JPG
Data/yes/Y24.jpg
Data/yes/Y25.jpg
Data/yes/Y26.jpg
Data/yes/Y27.jpg
Data/yes/Y28.jpg
Data/yes/Y29.jpg
Data/yes/Y30.jpg
Data/yes/Y31.jpg
Data/yes/Y32.jpg
Data/yes/Y33.jpg
Data/yes/Y34.jpg
Data/yes/Y35.jpg
Data/yes/Y36.JPG
Data/yes/Y37.jpg
Data/yes/Y38.jpg
Data/yes/Y39.jpg
Data/yes/Y40.JPG
Data/yes/Y41.jpg
Data/yes/Y42.jpg
Data/yes/Y44.JPG
Data/yes/Y45.JPG
Data/yes/Y46.jpg
Data/yes/Y47.JPG
Data/yes/Y49.JPG
Data/yes/Y50.JPG
Data/yes/Y51.jpg
Data/yes/Y52.jpg
Data/yes/Y53.jpg
Data/yes/Y54.jpg
Data/yes/Y55.jpg
Data/yes/Y56.jpg
Data/yes/Y58.JPG
Data/yes/Y59.JPG
Data/yes/Y60.jpg
Data/yes/Y61.jpg
Data/yes/Y62.jpg
Data/yes/Y65.JPG
Data/yes/Y66.JPG
Data/yes/Y67.JPG
Data/yes/Y69.jpg
Data/yes/Y70.jpg
Data/yes/Y71.JPG
Data/yes/Y73.jpg
Data/yes/Y74.jpg
Data/yes/Y75.JPG
Data/yes/Y76.jpg
Data/yes/Y77.jpg
Data/yes/Y78.jpg
Data/yes/Y79.jpg
Data/yes/Y81.jpg
Data/yes/Y82.jpg
Data/yes/Y85.JPG
Data/yes/Y86.JPG
Data/yes/Y89.JPG
Data/yes/Y90.jpg
Data/yes/Y91.jpg
Data/yes/Y92.jpg
Data/yes/Y92.png
Data/yes/Y95.jpg
Data/yes/Y96.jpg
Data/yes/Y97.JPG
Data/yes/Y98.JPG
Data/yes/Y99.JPG
Data/yes/Y100.JPG
Data/yes/Y101.jpg
Data/yes/Y102.jpg
Data/yes/Y103.jpg
Data/yes/Y104.jpg
Data/yes/Y105.jpg
Data/yes/Y106.jpg
Data/yes/Y107.jpg
Data/yes/Y108.jpg
Data/yes/Y109.JPG
Data/yes/Y111.JPG
Data/yes/Y112.JPG
Data/yes/Y113.JPG
Data/yes/Y114.JPG
Data/yes/Y115.JPG
Data/yes/Y116.JPG
Data/yes/Y117.JPG
Data/yes/Y120.JPG
Data/yes/Y146.JPG
Data/yes/Y147.JPG
Data/yes/Y148.JPG
Data/yes/Y153.jpg
Data/yes/Y154.jpg
Data/yes/Y155.JPG
Data/yes/Y156.JPG
Data/yes/Y157.JPG
Data/yes/Y158.JPG
Data/yes/Y159.JPG
Data/yes/Y160.JPG
Data/yes/Y161.JPG
Data/yes/Y162.jpg
Data/yes/Y163.JPG
Data/yes/Y164.JPG
Data/yes/Y165.JPG
Data/yes/Y166.JPG
Data/yes/Y167.JPG
Data/yes/Y168.jpg
Data/yes/Y169.jpg
Data/yes/Y170.JPG
Data/yes/Y180.jpg
Data/yes/Y181.jpg
Data/yes/Y182.JPG
Data/yes/Y183.jpg
Data/yes/Y184.JPG
Data/yes/Y185.jpg
Data/yes/Y186.jpg
Data/yes/Y187.jpg
Data/yes/Y188.jpg
Data/yes/Y192.JPG
Data/yes/Y193.JPG
Data/yes/Y194.jpg
Data/yes/Y195.JPG
Data/yes/Y242.JPG
Data/yes/Y243.JPG
Data/yes/Y244.JPG
Data/yes/Y245.jpg
Data/yes/Y246.JPG
Data/yes/Y247.JPG
Data/yes/Y248.JPG
Data/yes/Y249.JPG
Data/yes/Y250.jpg
Data/yes/Y251.JPG
Data/yes/Y252.jpg
Data/yes/Y253.JPG
Data/yes/Y254.jpg
Data/yes/Y255.JPG
Data/yes/Y256.JPG
Data/yes/Y257.jpg
Data/yes/Y258.JPG
Data/yes/Y259.JPG
